.env
package-lock.json
node_modules



echo "# Learning-Platform-Backend" >> README.md
git init
git add .
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Sima-Sah1/Learning-Platform-Backend.git
git push -u origin main